page {
    background-color: #f4f6f8;
}

.confirm_button,
.confirm_button_disable {
    background: #ef4034 !important;
    border: #1f1b27 !important;
    border-radius: 49rpx !important;
    color: #fff !important;
    font-size: 36rpx !important;
    font-weight: 500rpx !important;
    height: 98rpx !important;
    margin: 0 auto;
    width: 670rpx;
}

.confirm_button_disable {
    opacity: 0.3;
}

.cancle_button {
    background: #f4f6f8 !important;
    border: #f7f7f7 !important;
    border-radius: 49rpx !important;
    color: #45464e !important;
    font-size: 36rpx !important;
    font-weight: 0 !important;
    height: 98rpx !important;
    margin: 0 auto;
    width: 670rpx;
}

.small_confirm_button {
    background: #ef4034 !important;
    border: #1f1b27 !important;
    color: #fff !important;
    font-weight: 500rpx !important;
}

.small_cancle_button,
.small_confirm_button {
    border-radius: 40rpx !important;
    font-size: 36rpx !important;
    height: 80rpx !important;
    margin: 0 auto;
    width: 240rpx;
}

.small_cancle_button {
    background: #f4f6f8 !important;
    border: #f7f7f7 !important;
    color: #45464e !important;
    font-weight: 0 !important;
}

.placeholder_customer_input {
    color: #c1c1c1;
    font-family: PingFang SC;
    font-size: 32rpx !important;
    font-weight: 400;
}

.use_box {
    background-color: #fff;
    margin-top: 24rpx;
}

.use_box .use_list {
    margin: 0 40rpx;
}

.use_box .use_list .use_cell {
    height: 184rpx;
    position: relative;
}

.use_box .use_list .use_cell:not(:last-child) {
    border-bottom: 2rpx solid #f7f7f7;
}

.use_box .use_list .use_cell .order_id {
    color: #1f1b27;
    font-family: PingFang SC;
    font-size: 28rpx;
    font-weight: 600;
    position: absolute;
    top: 48rpx;
}

.use_box .use_list .use_cell .tran_time {
    bottom: 41rpx;
    color: #c1c1c1;
    font-family: PingFang SC;
    font-size: 26rpx;
    position: absolute;
}

.use_box .use_list .use_cell .trans_price {
    color: #45464e;
    font-family: PingFang SC;
    font-size: 30rpx;
    position: absolute;
    right: 0;
    top: 40rpx;
}
