page {
    background-color: #f4f6f8;
}

.confirm_button,
.confirm_button_disable {
    background: #ef4034 !important;
    border: #1f1b27 !important;
    border-radius: 49rpx !important;
    color: #fff !important;
    font-size: 36rpx !important;
    font-weight: 500rpx !important;
    height: 98rpx !important;
    margin: 0 auto;
    width: 670rpx;
}

.confirm_button_disable {
    opacity: 0.3;
}

.cancle_button {
    background: #f4f6f8 !important;
    border: #f7f7f7 !important;
    border-radius: 49rpx !important;
    color: #45464e !important;
    font-size: 36rpx !important;
    font-weight: 0 !important;
    height: 98rpx !important;
    margin: 0 auto;
    width: 670rpx;
}

.small_confirm_button {
    background: #ef4034 !important;
    border: #1f1b27 !important;
    color: #fff !important;
    font-weight: 500rpx !important;
}

.small_cancle_button,
.small_confirm_button {
    border-radius: 40rpx !important;
    font-size: 36rpx !important;
    height: 80rpx !important;
    margin: 0 auto;
    width: 240rpx;
}

.small_cancle_button {
    background: #f4f6f8 !important;
    border: #f7f7f7 !important;
    color: #45464e !important;
    font-weight: 0 !important;
}

.placeholder_customer_input {
    color: #c1c1c1;
    font-family: PingFang SC;
    font-size: 32rpx !important;
    font-weight: 400;
}

page {
    background-color: #fff;
}

.title {
    color: #3c3c3c;
    font-size: 48rpx;
    font-weight: 700;
    margin-left: 40rpx;
    margin-top: 57rpx;
}

.password_input,
.title {
    font-family: PingFang SC;
}

.password_input {
    align-items: center;
    border-bottom: 2rpx solid #eee;
    color: #ccc;
    display: flex;
    font-size: 32rpx;
    font-weight: 400;
    height: 80rpx;
    justify-content: space-between;
    margin: 80rpx 40rpx 0;
}

.password_input .forget_pwd {
    color: #ef4034;
}

.password_input_second {
    border-bottom: 2rpx solid #eee;
    color: #ccc;
    font-family: PingFang SC;
    font-size: 32rpx;
    font-weight: 400;
    height: 80rpx;
    margin: 50rpx 40rpx 0;
}

.cancle_button,
.confirm_button {
    margin: 60rpx 40rpx 0;
}
